mat-form-field{width:100%;}
.mat-chip-list-wrapper{margin-top:15px;}

mat-form-field input {border:none !important;}
.profile-form label{width:100%}

.btn-primary {
    border-color: #462a7a;
    background:#462a7a
}
// .container{
//     float: left !important;
//     width: 50% !important;
// }