<mat-toolbar color="primary" class="p-0">

    <div class="col-md-12 p-0">
      <div class="d-flex flex-row justify-content-between w-100 logo align-items-center" >
        <div class="mr-auto"  >
            <button mat-raised-button class="primary-btn col-md-12 example-full-width
            font-weight-bold dashboard-button" >Patient System</button>
            <mat-icon class="closeMenu">menu</mat-icon>
         </div>
        <div class="p-2">
          <i class="material-icons cursor-pointer" title="Profile">
            person
          </i>
         
        </div>
       
        
      </div>
    </div>
  
  </mat-toolbar>