<div class="container">
    <div class="row ">
        <div class="col-10 font-weight-bold">

            <h6>Patient Detail</h6>
        </div>
        <div class="col-2">
                <i class="material-icons pointer m-2" (click)="onNoClick()"> close</i>
        </div>
        
    </div>
    <div class="row">
        <div class="col-6 font-weight-bold">
            First Name:
        </div>
        <div class="col-6">
            {{data.firstName}}
        </div>
    </div>
    <div class="row">
        <div class="col-6 font-weight-bold">
            Last Name:
        </div>
        <div class="col-6">
            {{data.lastName}}
        </div>
    </div>

    <div class="row">
        <div class="col-6 font-weight-bold">
            Phone:
        </div>
        <div class="col-6">
            {{data.mobile}}
        </div>
    </div>
    <div class="row">
        <div class="col-6 font-weight-bold">
            Email:
        </div>
        <div class="col-6">
            {{data.email}}
        </div>
    </div>
    <div class="row">
        <div class="col-6 font-weight-bold">
            Address Line 1:
        </div>
        <div class="col-6">
            {{data.address1}}
        </div>
    </div>
    <div class="row">
        <div class="col-6 font-weight-bold">
            Address Line 2:
        </div>
        <div class="col-6">
            {{data.address2}}
        </div>
    </div>
    <div class="row">
        <div class="col-6 font-weight-bold">
            City:
        </div>
        <div class="col-6">
            {{data.city}}
        </div>
    </div>
    <div class="row">
        <div class="col-6 font-weight-bold">
            State:
        </div>
        <div class="col-6">
            {{data.state}}
        </div>
    </div>
    <div class="row">
        <div class="col-6 font-weight-bold">
            Zipcode:
        </div>
        <div class="col-6">
            {{data.postcode}}
        </div>
    </div>
</div>