<div class="login-screen ">

    <div class="login-box shadow mb-5 bg-white rounded">
        <div class="login-logo text-center d-flex justify-content-center p-4 align-items-center">
            <img class="mr-1" src="../../../assets/logo.jpeg">
            <h6>Patient System</h6>
            <div class="clearfix"></div>
        </div>
        <div class="pt-3 heading-color text-center">
            <div class="active">Login to your Account</div>

        </div>
        <form class="p-3" [formGroup]="loginForm" (ngSubmit)="checkLogin()" autocomplete="off">
            <div class="form-group">
                <div class="input-content">
                    <input autocomplete="off" class="form-control" matInput placeholder="Email Address"
                        formControlName="username" maxlength="50">
                </div>
                <mat-error class="help-block" *ngIf="loginForm.get('username').errors?.required && (!submitted ||
            loginForm.get('username').touched)">
                    Email address is required
                </mat-error>
                <mat-error class="help-block" *ngIf="loginForm.get('username').errors?.pattern && (!submitted ||
            loginForm.get('username').touched)">
                    Please enter a valid Email address
                </mat-error>
            </div>
            <div class="form-group">
                <input autocomplete="off" class="form-control" type="password" matInput placeholder="Password"
                    formControlName="password">
                <mat-error class="help-block" *ngIf="loginForm.get('password').errors?.required && (!submitted ||
            loginForm.get('password').touched)">
                    Password is required
                </mat-error>
            </div>
            <div class="form-group">
                <mat-checkbox class="" [checked]="remember" (change)="rememberMe($event)">Remember me
                </mat-checkbox>
            </div>
            <button mat-raised-button class="primary-btn col-md-12 example-full-width
          font-weight-bold p-2">Login</button>
        </form>
    </div>
</div>