<div class="container-fluid">
    <div class="row">
        <div class="col-12 p-0 mt-10">
            <app-header></app-header>
        </div>

    </div>
    <div class="row">
        <div class="col-1 p-0">
            <!-- <mat-icon class="toggle_menu" (click)="openMenu()">view_headline</mat-icon> -->
            <app-nav-bar></app-nav-bar>
        </div>


        <div class="col-11 px-5">

            <!-- <router-outlet></router-outlet> -->
            <app-patient></app-patient>
        </div>
    </div>
</div>