
 .pointer {cursor: pointer;}
 
 
 
 .small, small {
   font-size: 77%;
   font-weight: 400;
 }
 
 .filter-icon{
   bottom: 176px !important;
   width: 53px;
   height: 53px;
   color: #fff;
   border-radius: 50px;
   text-align: left;
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   left: 95%;
   z-index: 999;
   position: fixed;
 }
 
 @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
   
   .px-5 {
     padding-left: 5rem!important;
   }
   
 }